.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-heading {
  min-height: 25vh;
  color: white;
  background-color: rgb(15, 85, 15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
}
.image-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background-color: rgb(241, 233, 233);
  width: 100%;
  min-height: 75vh;
}

.main-container > :first-child {
  border-right: 1px solid black;
}

.file-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.render-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-title {
  background: rgb(161, 205, 161);
  border-radius: 10px;
  color: rgb(67 59 59);
  padding: 20px;
}
